* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 550px;
  background: url(../images/background1.jpg);
  background-size: 100% 650px;
}
.transparent {
  width: 100%;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 100% 650px;
}

.transparent1 {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 100% 650px;
}
.header1 {
  width: 100%;
  height: 80px;
  background: url(../images/background1.jpg);
  background-size: 100% 650px;
}
.headerTextHolder {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.leftHeader {
  width: 50%;
  height: auto;
  padding: 5px 50px;
  float: left;
}
.headerFirstLevel {
  width: 50%;
  height: auto;
  padding: 10px 5px;
}

.headerFirstLevel img {
  width: 180px;
  height: 60px;
  padding: 10px 5px;
}
.headerFirstLevel h3 {
  color: rgb(215 55 57);
  font-size: 45px;
  font-family: Viga, sans-serif;
  font-weight: 300;
}
.headerSecondLevel {
  width: 60%;
  height: auto;
  margin: 80px;
  padding-top: 50px;
}
.headerSecondLevel h4 {
  color: white;
  font-size: 65px;
  padding-top: 20px;
  font-weight: 200;
  font-family: Allerta, sans-serif;
  line-height: 80px;
}
.headerSecondLevel p {
  color: rgb(88, 145, 66);
  font-size: 30px;
  font-weight: 200;
  font-family: allerta, sans-serif;
  line-height: 20px;
}
.headerSecondLevel ul {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.headerSecondLevel ul li {
  list-style: none;
  padding: 5px 5px;
  float: left;
}
.headerSecondLevel ul li input {
  color: white;
  background: rgb(215 55 57);
  border: 1px solid rgb(215 55 57);
  padding: 7px;
  font-size: 15px;
}
.rightHeader {
  width: 50%;
  height: auto;
  padding: 25px 50px;
  float: right;
}
.rightHeader ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* padding-left: 130px; */
}
.rightHeader ul li {
  list-style: none;
  padding: 5px 5px;
  float: left;
}
.rightHeader ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}

.rightHeader ul li a:hover {
  text-decoration: underline;
  color: rgb(233, 57, 57);
  padding: 5px 10px;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}
.body {
  width: 100%;
  height: auto;
}
.bodyFirstLevel {
  width: 100%;
  height: auto;
  padding: 20px;
  overflow: hidden;
}
.bodyFirstLevel h4 {
  text-align: center;
  color: rgb(25 25 25);
  font-size: 35px;
  font-family: Viga, sans-serif;
  font-weight: 300;
  padding: 30px;
}
.bodyFirstLevelLeft {
  width: 100%;
  height: auto;
  padding: 15px;
  overflow: hidden;
}
.bodyFirstLeftImg {
  width: 50%;
  height: 750px;
  /* padding-left: 30px; */
  /* padding: 15px; */
  float: left;
}
.bodyFirstLeftImg img {
  width: 90%;
  height: 750px;
  position: relative;
  margin: auto;
}

.introoduceAbout {
  width: 50%;
  height: auto;
  padding: 15px 0px;
  float: left;
}

.introoduceAbout h5 {
  font-size: 45px;
  color: rgb(25 25 25);
  font-family: Viga, sans-serif;
  font-weight: 300;
}
/* .bodyFirstLevelLeft1 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.bodyFirstLevelLeftImg1 {
  width: auto;
  height: auto;
  float: left;
  position: relative;
  border-radius: 50%;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 0px;
}

.bodyFirstLevelLeftImg1 img {
  border-radius: 50%;
  width: 70px;
} */

.firstLevelHeaderLeftName {
  float: left;
  padding-top: 30px;
}
.firstLevelHeaderLeftName h3 {
  color: rgb(25 25 25);
  font-family: Allerta, sans-serif;
  font-size: 17px;
}
.firstLevelHeaderLeftName p {
  padding-top: 5px;
  color: grey;
}
.firstLevelLeftList {
  width: 100%;
  height: auto;
}
.firstLevelLeftList ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 40px;
}
.firstLevelLeftList ul li {
  list-style: none;
  padding: 15px 120px 20px 0px;
  float: left;
  color: grey;
}
.firstLevelP p {
  padding: 0px 30px 80px 30px;
  color: grey;
  font-size: 20px;
  line-height: 35px;
}
.bodySecondLevel {
  width: 100%;
  height: auto;
}
.bodySecondLevel h2 {
  text-align: center;
  color: rgb(25 25 25);
  font-size: 35px;
  font-family: Viga, sans-serif;
  font-weight: 300;
  padding: 20px;
}
.clients {
  width: 100%;
  height: auto;
  /* padding-left: 80px; */
  margin: auto;
}
.clients ul {
  width: 80%;
  height: auto;
  overflow: hidden;
  margin: auto;
}
.clients ul li {
  list-style: none;
  padding: 20px 65px 80px 65px;
  float: left;
  width: 100px;
  height: 250px;
  margin: 20px;
}

.clients ul li img {
  width: 100px;
  height: 150px;
}
.bodyThirdLevel {
  width: 100%;
  height: auto;
}
.bodyThirdLevel h2 {
  text-align: center;
  color: rgb(25 25 25);
  font-size: 35px;
  font-family: Viga, sans-serif;
  font-weight: 300;
  padding: 20px;
}
.work {
  width: 100%;
  height: auto;
  margin: auto;
}
.work ul {
  width: 85%;
  height: auto;
  overflow: hidden;
  margin: auto;
}
.work ul li {
  list-style: none;
  padding: 0px 5px 80px 5px;
  float: left;
}
.work ul li img {
  width: 180px;
  height: 200px;
}
.aboutBody {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.aboutBody1 {
  width: 100%;
  height: auto;
  padding: 20px;
  overflow: hidden;
}
.aboutBody1 h4 {
  text-align: center;
  color: rgb(25 25 25);
  font-size: 35px;
  font-family: Viga, sans-serif;
  font-weight: 300;
  padding: 30px;
}

.aboutAbout h4 {
  text-align: center;
  color: rgb(25 25 25);
  font-size: 35px;
  font-family: Viga, sans-serif;
  font-weight: 300;
  padding: 30px;
}
.aboutAbout {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 30px;
}
.one {
  width: 30%;
  height: 700px;
  padding: 20px;
  float: left;
  padding-left: 10px;
  margin: 10px;
}
.oneImg {
  width: 90%;
  height: 390px;
}
.oneImg img {
  width: 95%;
  height: 370px;
}
.one h3 {
  font-family: "Allerta", sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: black;
  padding-bottom: 15px;
}
.one p {
  font-family: "Allerta", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #aaa;
  padding-bottom: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}
.one input {
  color: white;
  background: #337ab7;
  border: 1px solid #337ab7;
  padding: 11px;
  font-size: 15px;
}
.float {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 15px;
}
.aboutText {
  width: 65%;
  height: auto;
  float: left;
  padding: 0px 10 10px 10px;
}
.aboutText h5 {
  font-family: "Allerta", sans-serif;
  font-size: 37px;
  font-weight: 300;
  color: #161616;
  padding-bottom: 15px;
  padding-left: 15px;
}
.aboutText p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 27px;
  line-height: 40px;
  color: rgb(102, 97, 97);
  padding-bottom: 15px;
  padding-left: 15px;
}
.aboutImgLeft {
  width: 30%;
  height: 250px;
  float: left;
  padding: 5px;
}
.aboutImgLeft img {
  width: 100%;
  height: 250px;
}
.aboutList {
  width: 32%;
  height: auto;
  float: left;
}
.aboutList ul {
  list-style: square;
  height: auto;
  width: 100%;
  padding: 0px 10px 10px 30px;
}
.aboutList ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #aaa;
  text-decoration: none;
  padding-left: 10px;
}
.row {
  width: 100%;
  height: auto;
  /* padding-left: 30px; */
  margin: auto;
}
.row ul {
  width: 80%;
  height: auto;
  overflow: hidden;
  margin: auto;
}
.row ul li {
  list-style: none;
  padding: 0px 5px 10px 5px;
  float: left;
}
.row ul li img {
  width: 280px;
}
.contact {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.contactLeft {
  width: 50%;
  height: auto;
  float: left;
  padding-left: 50px;
}
.contactLeft ul {
  width: 100%;
  height: auto;
}
.contactLeft ul li {
  list-style: none;
  padding: 1px 0px;
}

.contactLeft ul li input {
  width: 95%;
  height: 85px;
  border: none;
  border-bottom: 1px solid black;
  padding: 0px;
  font-size: 15px;
}
.contactLeft ul li textarea {
  width: 95%;
  height: 155px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 15px;
}
.contactLeft ul li input.formbtn {
  color: white;
  background: rgb(215, 55, 57);
  border: 1px solid rgb(215, 55, 57);
  padding: 0px;
  font-size: 25px;
  width: 20%;
  height: 40px;
}
.contactRight h5 {
  color: #42a5f6;
  font-size: 23px;
  font-family: "Viga", sans-serif;
  font-weight: 300;
}
.contactRight p {
  font-family: "Roboto Condensed", sans-serif;
  color: #aaa;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 50px;
}
.findUs {
  width: 90%;
  height: 300px;
  padding: 30px;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
}
.footer {
  width: 100%;
  height: auto;
  background: rgb(34 34 34);
  padding: 50px 30px 15px 0px;
}
.footerFirstLevel {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 30px;
}
.footerSupport {
  width: 25%;
  height: auto;
  float: left;
  padding-left: 100px;
}
.footerSupport h3 {
  color: white;
  padding-bottom: 15px;
  color: rgb(255 255 255);
  font-family: Viga, sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.footerSupport ul {
  width: 100%;
  height: auto;
}
.footerSupport ul li {
  list-style: none;
  color: white;
  padding: 0px 5px 5px 0px;
}
.footerSupport ul li a {
  color: rgb(154 147 147);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  text-decoration: none;
}
.footerSub {
  width: 25%;
  height: auto;
  float: left;
}

.footerSub h3 {
  color: white;
  padding-bottom: 10px;
  color: rgb(255 255 255);
  font-family: Viga, sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.footerSub ul {
  padding: 5px;
  overflow: hidden;
}
.footerSub ul li {
  list-style: none;
  float: left;
}
.footerSub ul li input {
  width: 100%;
  height: 35px;
  border: 1px solid grey;
  padding: 5px;
}
.footerSub ul li input.formbtn {
  color: white;
  background: rgb(215 55 57);
  border: 1px solid rgb(215 55 57);
  padding: 7px;
  font-size: 15px;
}
.footerSub h4 {
  padding-top: 30px;
  padding-left: 5px;
  color: rgb(154 147 147);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.footerSecondLevel {
  width: 100%;
  height: auto;
}
.footerSecondLevel p {
  text-align: center;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding-bottom: 50px;
}
