* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: cursive;
  background-color: rgb(232, 235, 248);
}

.header {
  width: 100%;
  height: auto;
  background: url("../images/background1.jpg") no-repeat center center/cover;
  background-size: 100% 100vh;
}
.transparent {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 100% auto;
}

.transparent1 {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 100% auto;
}
.header1 {
  width: 100%;
  height: auto;
  background: url("../images/background1.jpg") no-repeat center center/cover;
  background-size: 100% 30vh;
}
.headerFirstLevel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
}
.headerFirstLevel img {
  width: 6rem;
  height: 2rem;
}

.rightHeader ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 2rem;
}
.rightHeader ul li {
  list-style: none;
  padding: 0.5rem;
}

.rightHeader ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.rightHeader ul li a:hover {
  text-decoration: underline;
  color: rgb(233, 57, 57);
  padding: 5px 10px;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}
.headerSecondLevel {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
  padding: 2rem;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin: 2rem 0rem;
}

.headerSecondLevel h5 {
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: left;
  line-height: 3rem;
  margin: 1rem;
  padding-left: 2rem;
}

.headerSecondLevel p {
  font-size: 1rem;
  color: rgb(37, 192, 102);
  text-align: left;
  margin: 1rem;
  margin-bottom: 0rem;
  padding-left: 2rem;
}

.headerSecondLevel ul {
  display: flex;
  padding-left: 2rem;
}

.headerSecondLevel ul li {
  list-style: none;
  padding: 0.5rem;
}
.headerSecondLevel ul li input {
  color: white;
  background: rgb(215 55 57);
  border: 1px solid rgb(215 55 57);
  border-radius: 25px;
  padding: 0.8rem;
  font-size: 0.8rem;
}

.bodyFirstLevel {
  height: auto;
  margin: 1.5rem;
}

.bodyFirstLevelLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border-radius: 5rem;
  box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.479);
}

.bodyFirstLevel h4 {
  text-align: center;
  font-size: 2rem;
}

.introoduceAbout h5 {
  font-size: 2rem;
  color: gray;
  padding: 1.5rem;
  font-weight: lighter;
}

.bodyFirstLeftImg {
  width: 20rem;
  height: 70vh;
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
}

.bodyFirstLeftImg img {
  width: 20rem;
  height: 70vh;
  border-radius: 2rem;

  /* padding: 2rem; */
}

.bodySecondLevel {
  height: auto;
  margin: 1.5rem;
}

.bodySecondLevel h2 {
  text-align: center;
  font-size: 1.5rem;
}
.clients ul {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.work ul {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.clients ul li {
  list-style: none;
  padding: 2rem;
  height: 8rem;
  /* margin: 2rem; */
}

.clients ul li img {
  width: 6rem;
  height: 6rem;
}

.bodyThirdLevel {
  height: auto;
  margin: 1.5rem 0rem;
  margin-top: 5rem;
}

.bodyThirdLevel h2 {
  text-align: center;
  font-size: 1.5rem;
}

.work {
  padding: 2rem;
  background-color: whitesmoke;
}

.work h3 {
  text-align: center;
  font-size: 0.6rem;
  /* margin-top: 0.3rem;
  margin-bottom: 0rem; */
}
.work ul li {
  list-style: none;
  padding: 1rem;
  height: 10rem;
  margin-bottom: 2.5rem;
}

.work ul li img {
  width: 10rem;
  height: 10rem;
}

.foot {
  margin-top: 5rem;
  background-color: rgba(34, 34, 58, 0.438);
}

.footerSupport ul {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.footerSupport ul li {
  list-style: none;
  padding: 2rem;
  height: 2rem;
  /* margin: 2rem; */
}

.footerSupport ul li {
  list-style: none;
  padding: 0.5rem;
}

.footerSupport ul li a {
  text-decoration: none;
  color: rgb(65, 63, 63);
  font-size: 1rem;
}

.footerSupport ul li a:hover {
  text-decoration: underline;
  color: rgb(233, 57, 57);
  padding: 5px 10px;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}

.footerSecondLevel {
  text-align: left;
}

.aboutBody11 {
  height: auto;
  margin: 1.5rem;
}

/* .aboutBody1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
} */

.aboutBody11 h4 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0rem;
}

.aboutAbout h4 {
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0rem;
  margin-bottom: 2rem;
}

.aboutText h5 {
  font-size: 2rem;
  color: black;
  padding: 1.5rem;
  font-weight: lighter;
}

.aboutText p {
  font-size: 1.5rem;
  color: gray;
  padding: 0.5rem;
  font-weight: lighter;
}

.aboutImgLeft {
  width: 20rem;
  height: 50vh;
  padding-top: 2rem;
  text-align: center;
  border-radius: 2rem;
}

.aboutImgLeft img {
  width: 20rem;
  height: 40vh;
  border-radius: 2rem;

  /* padding: 2rem; */
}

.aboutList ul {
  display: flex;
  flex-wrap: wrap;
  list-style: square;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.aboutList ul li a {
  font-size: 1.2rem;
  line-height: 2rem;
  color: black;
  text-decoration: none;
  padding: 1rem;
  /* padding-left: 10px; */
}

.projAbo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.one {
  /* width: 30%; */
  height: auto;
  padding: 1rem;
}
.oneImg {
  width: 90%;
  height: 20rem;
}
.oneImg img {
  width: 95%;
  height: 20rem;
}
.one h3 {
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  padding-bottom: 1rem;
}
.one p {
  font-size: 1rem;
  font-weight: 300;
  color: #aaa;
  padding-bottom: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}
.one input {
  color: white;
  background: #337ab7;
  border: 1px solid #337ab7;
  padding: 1rem;
  font-size: 1rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-flow: row;
}

.contactLeft {
  width: 100rem;
  height: auto;
  float: left;
  padding: 1rem;
}
.contactLeft ul {
  /* width: 100%; */
  height: auto;
}
.contactLeft ul li {
  list-style: none;
  padding: 1px 0px;
}

.contactLeft ul li input {
  width: 95%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid black;
  padding: 0px;
  font-size: 1rem;
  background-color: rgb(232, 235, 248);
}
.contactLeft ul li textarea {
  width: 95%;
  height: 10rem;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(232, 235, 248);
}
.contactLeft ul li input.formbtn {
  color: rgb(232, 235, 248);
  background: rgb(215, 55, 57);
  border: 1px solid rgb(215, 55, 57);
  padding: 0px;
  font-size: 1rem;
  width: 20%;
  height: 2rem;
}

.contactRight h5 {
  color: #42a5f6;
  font-size: 1rem;

  font-weight: 300;
}
.contactRight p {
  font-size: 1rem;

  color: #aaa;
  font-weight: 300;
  line-height: 2rem;
  padding-bottom: 3re;
}
.findUs {
  width: 90%;
  height: 300px;
  padding: 30px;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
}

.stickyimg {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 2rem;
  height: 2rem;
}
.stickyimg img {
  width: 2rem;
  height: 2rem;
}
.stickyimg a {
  text-decoration: none;
}

[class*="col-"] {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  .introoduceAbout h5,
  .headerSecondLevel h5 {
    font-size: 1.5rem;
  }
  .projAbo {
    flex-flow: column;
  }
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  /* .introoduceAbout h5 {
    font-size: 1.5rem;
  } */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
